html {
	/*background-color: #070815;*/
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: black;
}
::-webkit-scrollbar-thumb {
    background: #343434;
}

#viewport {
    display: flex;
    justify-content: center;
    width: 99.5vw;
}

#boxSearch {
    margin-top: 20vh;
    display: flex;
    margin-bottom: 20px;
}

.img-and-switch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgSearch {
    width: 160px;
    margin-bottom: 30px;
}

#title {
    opacity: 60%;
    filter: blur(4px);
    font-size: 2.3em;
    font-family: "Comic Sans MS", Times, serif;
    margin-bottom: 30px;
    transition: 1800ms;
}

#title:hover {
    filter: blur(1px);
}

.title-and-input {
    margin-left: 40px;
}

#input-search {
    border: none;
    outline: none;
    font-size: 1.0em;
    border-bottom: 2px solid gray;
    border-radius: 10px;
    padding: 8px 10px;
    color: white;
    background-color: transparent;
    width: 60vw;
    margin-bottom: 20px;
    transition: 600ms;
}

#input-search:focus {
    border-bottom: 2px solid white;
}

.titleInput-and-root {
    padding-top: 80px;
}

#sectionBtnCutPhase {
    display: flex;
    align-items: center;
}

#titleBtnCutPhase {
    margin-left: 8px;
}

#switch-background {
    position: relative;
    background-color: white;
    width: 35px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}

#switch-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    transition: 500ms;
}

.switch-btn-off {
    background-color: gray;
    left: 14px;
}

.switch-btn-active {
    background-color: #070818;    
    left: 0;
}

#check {
    display: block;
}

#root p {
    margin-left: 42px;
    margin-bottom: 5px;
}