[Desktop Entry]
Encoding=UTF-8
Name=Link to How to Build an API in Python (with Flask) [and RapidAPI]
Type=Link
URL=https://rapidapi.com/blog/how-to-build-an-api-in-python/
Icon=text-html
