[Desktop Entry]
Encoding=UTF-8
Name=Link to Python REST API Tutorial - Building a Flask REST API - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=GMppyAPbLYk
Icon=text-html
