[Desktop Entry]
Encoding=UTF-8
Name=Link to Python_Data_Science_Numpy.ipynb - Colaboratory
Type=Link
URL=https://colab.research.google.com/drive/11zMUBHKs5748P_HKgZ3ud1gDlRkWNSz2
Icon=text-html
