[Desktop Entry]
Encoding=UTF-8
Name=Link to Python_para_Data_Science_Pandas.ipynb - Colaboratory
Type=Link
URL=https://colab.research.google.com/drive/192B25P5LSPRL1Q8QvqNO7muUjILgi9xx
Icon=text-html
