[Desktop Entry]
Encoding=UTF-8
Name=Link to Como inicio meus apps com ReactJS? Next.js, TypeScript, ESLint e Styled Components | Code/Drops #50 - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=1nVUfZg2dSA
Icon=text-html
